
.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Header {
    display: flex;
    height: 84px;
    width: 95%;
    background-color: #14072D;
    justify-content: space-between;
    margin-top: 16px;
    border-radius: 50px;
  }
  
.Header-left {
    font-size: 30px;
    display: flex;
    padding: 24px;
    align-items: center;
    position: relative; 

    &::after {
      content: '';
      position: absolute;
      left: 66px;
      right: 0;
      bottom: 4px;
      height: 2px; 
      background-color: green; 
    }

}
  
.Header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 24px;
    font-size: 20px;

    > div {
        padding: 8px;
        border-radius: 6px; 
        border: 1px solid transparent;
        transition: border 0.3s ease;

        &:hover {
            border: 1px solid greenyellow;
        }
    }
}